// Responsive Variables
$extra-lg: 'only screen and (min-width: 1699px) and (max-width: 1920px)';
$xxxl: 'only screen and (min-width: 1601px) and (max-width: 1700px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1600px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 575px)';