 {% load static %}
 <!-- brand-area-start -->
 <section class="brand-area brand-area-d">
    <div class="container">
        <div class="brand-slider swiper-container pt-50 pb-45">
            <div class="swiper-wrapper">
                <div class="brand-item w-img swiper-slide">
                    <a href=""><img src="{% static 'assets/img/brand/brand-1.png' %}" alt="brand"></a>
                </div>
                <div class="brand-item w-img swiper-slide">
                    <a href=""><img src="{% static 'assets/img/brand/brand-2.png' %}" alt="brand"></a>
                </div>
                <div class="brand-item w-img swiper-slide">
                    <a href=""><img src="{% static 'assets/img/brand/brand-3.png' %}" alt="brand"></a>
                </div>
                <div class="brand-item w-img swiper-slide">
                    <a href=""><img src="{% static 'assets/img/brand/brand-4.png' %}" alt="brand"></a>
                </div>
                <div class="brand-item w-img swiper-slide">
                    <a href=""><img src="{% static 'assets/img/brand/brand-5.png' %}" alt="brand"></a>
                </div>
                <div class="brand-item w-img swiper-slide">
                    <a href=""><img src="{% static 'assets/img/brand/brand-6.png' %}" alt="brand"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- brand-area-end -->