{% load static %}
<!-- featured-start -->
<section class="featured light-bg pt-55 pb-40">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section__head d-flex justify-content-between mb-30">
            <div class="section__title">
              <h5 class="st-titile">Eng mashhur mahsulotlar</h5>
            </div>
            <div class="button-wrap">
              <a href="shop.html"
                >Barcha mahsulotlar <i class="fal fa-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <div
            class="single-features-item single-features-item-d b-radius mb-20"
          >
            <div class="row g-0 align-items-center">
              <div class="col-md-6">
                <div class="features-thum">
                  <div class="features-product-image w-img">
                    <a href="product-details.html"
                      ><img
                        src="{% static 'assets/img/features-product/fpb-1.jpg' %}"
                        alt=""
                    /></a>
                  </div>
                  <div class="product__offer">
                    <span class="discount">-15%</span>
                  </div>
                  <div class="product-action">
                    <a
                      href="#"
                      class="icon-box icon-box-1"
                      data-bs-toggle="modal"
                      data-bs-target="#productModalId"
                    >
                      <i class="fal fa-eye"></i>
                      <i class="fal fa-eye"></i>
                    </a>
                    <a href="#" class="icon-box icon-box-1">
                      <i class="fal fa-heart"></i>
                      <i class="fal fa-heart"></i>
                    </a>
                    <a href="#" class="icon-box icon-box-1">
                      <i class="fal fa-layer-group"></i>
                      <i class="fal fa-layer-group"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="product__content product__content-d">
                  <h6>
                    <a href="product-details.html"
                      >Midway / Elektrosamokat MIDWAY YAMATO 0809 PRO</a
                    >
                  </h6>
                  <div class="rating mb-5">
                    <ul class="rating-d">
                      <li>
                        <a href="#"><i class="fal fa-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fal fa-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fal fa-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fal fa-star"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fal fa-star"></i></a>
                      </li>
                    </ul>
                    <span>(998 просмотр)</span>
                  </div>
                  <div class="price d-price mb-10">
                    <span>$307.00 <del>$110</del></span>
                  </div>
                  <div class="features-des mb-25">
                    <ul>
                      <li>
                        <a href="product-details.html"
                          ><i class="fas fa-circle"></i> Maksimal tezlik ---
                          30,0 km/soat</a
                        >
                      </li>
                      <li>
                        <a href="product-details.html"
                          ><i class="fas fa-circle"></i> Ramka / asosiy
                          material --- alyuminiy</a
                        >
                      </li>
                      <li>
                        <a href="product-details.html"
                          ><i class="fas fa-circle"></i> Maksimal yuk ---
                          120 kg</a
                        >
                      </li>
                      <li>
                        <a href="product-details.html"
                          ><i class="fas fa-circle"></i> To'liq to'plam ---
                          Elektr skuter, zaryadlovchi</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="cart-option">
                    <a href="cart.html" class="cart-btn-2 w-100 mr-10"
                      >Savatchaga qo'shish</a
                    >
                    <a href="cart.html" class="transperant-btn"
                      ><i class="fal fa-heart"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-12">
          <div class="row">

      
            {% for item in the_most_popular %}
            <div class="col-md-6">
              <div class="single-features-item b-radius mb-20">
                <div class="row g-0 align-items-center">
                  <div class="col-6">
                    <div class="features-thum">
                      <div class="features-product-image w-img">
                        <a href="product-details.html"
                          ><img
                            src="{{item.image_135x135}}"
                            alt=""
                        /></a>
                      </div>
                      <div class="product__offer">
                        <span class="discount">-{{item.discount}}%</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="product__content product__content-d">
                      <h6>
                        <a href="product-details.html"
                          >{{item.name}}</a
                        >
                      </h6>
                      <div class="rating mb-5">
                        <ul>
                          <li>
                            <a href="#"><i class="fa fa-star"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star"></i></a>
                          </li>
                        </ul>
                        <span>(56 просмотр)</span>
                      </div>
                      <div class="price d-price">
                        <span>${{item.price}} <del>$110</del></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- featured-end -->