{% load static %}
  
      <!-- cta-area-start -->
      <section class="cta-area d-ldark-bg pt-10 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="cta-item mb-30">
                        <h5 class="cta-title"></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cta-item mb-30">
                        <h5 class="cta-title">Eng ko'p sotiladigan</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta-area-end -->

  <!-- products -->
  <div class="tab-content" id="productGridTabContent">
    <!-- images -->
    <div class="tab-pane fade show active" id="FourCol" role="tabpanel" aria-labelledby="FourCol-tab">
      <div class="tp-wrapper">
        <div class="row g-0">
          {% for item in best_seller %}
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="product__item product__item-d">
              <div class="product__thumb fix">
                <div class="product-image w-img">
                  <a data-bs-toggle="modal" data-bs-target="#productModal{{item.id}}">
                    <img src="{{item.imageURL}}" alt="{{item.name}}" />
                  </a>
                </div>
                <div class="product-action">
                  <a href="#{{item.name}}" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModal{{item.id}}">
                    <i class="fal fa-eye"></i>
                    <i class="fal fa-eye"></i>
                  </a>
                </div>
              </div>
              <div class="product__content-3">
                <h6>
                   <a data-bs-toggle="modal" data-bs-target="#productModal{{item.id}}">{{item.name}}</a>
                </h6>
                
                <div class="rating mb-5">
                  <center>
                    <img style="width: 50%;" src="https://telegra.ph/file/c6afe8ef4cb87d386a529.png" alt="">
                  </center>
                  <span></span>
                </div>
              
                <div class="price mb-10">
                  {% load humanize %}
                    <span>Narxi: {{item.price|floatformat:0|intcomma}} UZS</span>
                </div>
              </div>
              <div class="product__add-cart-s text-center">
                <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                  Savatchaga qo'shish
                </button>
                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100"
                  data-bs-toggle="modal" data-bs-target="#productModal{{item.id}}">
                  Batafsil
                </button>
              </div>
            </div>
          </div>
                   <!-- shop modal start -->
                   <div class="modal fade" id="productModal{{item.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered product__modal" role="document">
                      <div class="modal-content">
                        <div class="product__modal-wrapper p-relative">
                          <div class="product__modal-close p-absolute">
                            <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                          </div>
                          <div class="product__modal-inner">
                            <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                  <div class="tab-content" id="modalTabContent">
                                    <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                      <div class="product__modal-img w-img">
                                        <img src="{{item.imageURL}}" alt="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                  <h4>
                                    <a href="product-details.html"><p>{{item.name}}</p></a>
                                  </h4>
                                  
                                  <div class="product__review d-sm-flex">
                                    
                                    <div class="rating rating__shop mb-10 mr-30">
                                      <center>
                                        <img style="width: 50%;" src="https://telegra.ph/file/c6afe8ef4cb87d386a529.png" alt="">
                                      </center>
                                    </div>
                                  </div>
                                  <div class="product__price">
                                    {% load humanize %}
                                    <span>Narxi: {{item.price|floatformat:0|intcomma}} UZS</span>
                                  </div>
                                  <div class="product__modal-des mt-20 mb-15">
                                    <p>
                                      {{item.description}}
                                    </p>
                                  </div>
                                  <div class="product__modal-form">
                                    <form action="#">
                                      <div class="pro-quan-area d-lg-flex align-items-center">
                                        <div class="pro-cart-btn mb-25">
                                          <a href="{% url 'shop-detail' item.id %}" class="cart-btn" type="submit">
                                            Buyurtma berish
                                          </a>
                                          <a href="{% url 'add-cart' item.id%}" class="cart-btn" type="submit">
                                            Savatchaga+
                                          </a>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- shop modal end -->
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- <div class="tp-pagination text-center">
    <div class="row">
      <div class="col-xl-12">
        <div class="basic-pagination pt-30 pb-30">
          <nav>
            <ul>
              <li>
                <a href="shop.html" class="active">1</a>
              </li>
              <li>
                <a href="shop.html">2</a>
              </li>
              <li>
                <a href="shop.html">3</a>
              </li>
              <li>
                <a href="shop.html">5</a>
              </li>
              <li>
                <a href="shop.html">6</a>
              </li>
              <li>
                <a href="shop.html">
                  <i class="fal fa-angle-double-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div> -->
  </div>