<!-- moveing-text-area-start -->
<section class="moveing-text-area">
    <div class="container">
      <div class="ovic-running">
        <div class="wrap">
          <div class="inner">
            <p class="item">O'zbekiston bo'ylab yetkazib berish tekin</p>
            <p class="item">
              Bizning ijtimoiy tarmoqlarimizga obuna bo'lishni unutmang!
            </p>
            <p class="item">
              Murojat uchun +998 55 500 02 05 | Xaridingiz uchun rahmat!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- moveing-text-area-end -->