{% load static %}
<!-- recomand-product-area-start -->
 <section class="recomand-product-area light-bg-s pt-50 pb-15">
    <div class="container custom-conatiner">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-30">
                    <div class="section__title section__title-2">
                        <h5 class="st-titile">Siz uchun Tavsiya</h5>
                    </div>
                    <div class="button-wrap button-wrap-2">
                        <a href="product.html">Barcha mahsulotlar <i class="fal fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                <div class="product__item product__item-2 b-radius-2 mb-20">
                    <div class="product__thumb fix">
                        <div class="product-image w-img">
                            <a href="product-details.html">
                                <img src="{% static 'assets/img/product/tp-1.jpg' %}" alt="product">
                            </a>
                        </div>
                        <div class="product__offer">
                        <span class="discount">-15%</span>
                        </div>
                        <div class="product-action product-action-2">
                            <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                <i class="fal fa-eye"></i>
                                <i class="fal fa-eye"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-heart"></i>
                                <i class="fal fa-heart"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-layer-group"></i>
                                <i class="fal fa-layer-group"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product__content product__content-2">
                        <h6><a href="product-details.html">Epple iPad Pro 10.5-inch Cellular 64G</a></h6>
                        <div class="rating mb-5 mt-10">
                            <ul>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                            </ul>
                            <span>(01 review)</span>
                        </div>
                        <div class="price">
                            <span>$105-$110</span>
                        </div>
                    </div>
                    <div class="product__add-cart text-center">
                        <button type="button" class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                        Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                <div class="product__item product__item-2 b-radius-2 mb-20">
                    <div class="product__thumb fix">
                        <div class="product-image w-img">
                            <a href="product-details.html">
                                <img src="{% static 'assets/img/product/tp-2.jpg' %}" alt="product">
                            </a>
                        </div>
                        <div class="product-action product-action-2">
                            <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                <i class="fal fa-eye"></i>
                                <i class="fal fa-eye"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-heart"></i>
                                <i class="fal fa-heart"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-layer-group"></i>
                                <i class="fal fa-layer-group"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product__content product__content-2">
                        <h6><a href="product-details.html">Men Size Yellow Basketball Jerseys</a></h6>
                        <div class="rating mb-5 mt-10">
                            <ul>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                            </ul>
                            <span>(01 review)</span>
                        </div>
                        <div class="price">
                            <span>$105-$150</span>
                        </div>
                    </div>
                    <div class="product__add-cart text-center">
                        <button type="button" class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                        Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                <div class="product__item product__item-2 b-radius-2 mb-20">
                    <div class="product__thumb fix">
                        <div class="product-image w-img">
                            <a href="product-details.html">
                                <img src="{% static 'assets/img/product/tp-3.jpg' %}" alt="product">
                            </a>
                        </div>
                        <div class="product__offer">
                        <span class="discount">-9%</span>
                        </div>
                        <div class="product-action product-action-2">
                            <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                <i class="fal fa-eye"></i>
                                <i class="fal fa-eye"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-heart"></i>
                                <i class="fal fa-heart"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-layer-group"></i>
                                <i class="fal fa-layer-group"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product__content product__content-2">
                        <h6><a href="product-details.html">Xbox Wireless Game Controller Pink</a></h6>
                        <div class="rating mb-5 mt-10">
                            <ul>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                            </ul>
                            <span>(01 review)</span>
                        </div>
                        <div class="price">
                            <span>$200-$280</span>
                        </div>
                    </div>
                    <div class="product__add-cart text-center">
                        <button type="button" class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                        Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                <div class="product__item product__item-2 b-radius-2 mb-20">
                    <div class="product__thumb fix">
                        <div class="product-image w-img">
                            <a href="product-details.html">
                                <img src="{% static 'assets/img/product/tp-7.jpg' %}" alt="product">
                            </a>
                        </div>
                        <div class="product-action product-action-2">
                            <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                <i class="fal fa-eye"></i>
                                <i class="fal fa-eye"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-heart"></i>
                                <i class="fal fa-heart"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-layer-group"></i>
                                <i class="fal fa-layer-group"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product__content product__content-2">
                        <h6><a href="product-details.html">APPO R11s 64GB Dual 20MP Cameras</a></h6>
                        <div class="rating mb-5 mt-10">
                            <ul>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                            </ul>
                            <span>(01 review)</span>
                        </div>
                        <div class="price">
                            <span>$150.00-$270.00</span>
                        </div>
                    </div>
                    <div class="product__add-cart text-center">
                        <button type="button" class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                        Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                <div class="product__item product__item-2 b-radius-2 mb-20">
                    <div class="product__thumb fix">
                        <div class="product-image w-img">
                            <a href="product-details.html">
                                <img src="{% static 'assets/img/product/tp-10.jpg' %}" alt="product">
                            </a>
                        </div>
                        <div class="product-action product-action-2">
                            <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                <i class="fal fa-eye"></i>
                                <i class="fal fa-eye"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-heart"></i>
                                <i class="fal fa-heart"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-layer-group"></i>
                                <i class="fal fa-layer-group"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product__content product__content-2">
                        <h6><a href="product-details.html">G951s Pink Stereo Gaming Headset</a></h6>
                        <div class="rating mb-5 mt-10">
                            <ul>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                            </ul>
                            <span>(01 review)</span>
                        </div>
                        <div class="price">
                            <span>$120.00-$210.00</span>
                        </div>
                    </div>
                    <div class="product__add-cart text-center">
                        <button type="button" class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                        Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                <div class="product__item product__item-2 b-radius-2 mb-20">
                    <div class="product__thumb fix">
                        <div class="product-image w-img">
                            <a href="product-details.html">
                                <img src="{% static 'assets/img/product/tp-9.jpg' %}" alt="product">
                            </a>
                        </div>
                        <div class="product-action product-action-2">
                            <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                <i class="fal fa-eye"></i>
                                <i class="fal fa-eye"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-heart"></i>
                                <i class="fal fa-heart"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-layer-group"></i>
                                <i class="fal fa-layer-group"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product__content product__content-2">
                        <h6><a href="product-details.html">Epple iPhone 11 Pro Max 64GB Gold</a></h6>
                        <div class="rating mb-5 mt-10">
                            <ul>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                            </ul>
                            <span>(01 review)</span>
                        </div>
                        <div class="price">
                            <span>$120.00-$140.00</span>
                        </div>
                    </div>
                    <div class="product__add-cart text-center">
                        <button type="button" class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                        Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- recomand-product-area-end -->