{% load static %}
<div class="col-xl-9 col-lg-8">
  <div class="product-lists-top">
    <!-- showing -->
    <div class="product__filter-wrap">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
          <div class="product__filter d-sm-flex align-items-center">
            <div class="product__col">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="FourCol-tab" data-bs-toggle="tab" data-bs-target="#FourCol"
                    type="button" role="tab" aria-controls="FourCol" aria-selected="true">
                    <i class="fal fa-th"></i>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="FiveCol-tab" data-bs-toggle="tab" data-bs-target="#FiveCol" type="button"
                    role="tab" aria-controls="FiveCol" aria-selected="false">
                  </button>
                </li>
              </ul>
            </div>
            <div class="product__result pl-60">
              <b>Eng ko'p sotiladigan</b> natija {{best_seller.count}} relults</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- products -->
  <div class="tab-content" id="productGridTabContent">
    <!-- images -->
    <div class="tab-pane fade show active" id="FourCol" role="tabpanel" aria-labelledby="FourCol-tab">
      <div class="tp-wrapper">
        <div class="row g-0">
          {% for item in best_seller %}
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="product__item product__item-d">
              <div class="product__thumb fix">
                <div class="product-image w-img">
                  <a href="{% url 'shop-detail' item.id %}">
                    <img src="{{item.imageURL}}" alt="{{item.name}}" />
                  </a>
                </div>
                <div class="product-action">
                  <a href="#{{item.name}}" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModal{{item.id}}">
                </div>
              </div>
              <div class="product__content-3">
                <h6>
                  <a href="{% url 'shop-detail' item.id %}">{{item.name}}</a>
                </h6>
                <center>
                  <img style="width: 50%;" src="https://telegra.ph/file/c6afe8ef4cb87d386a529.png" alt="">
                </center>
                <div class="price mb-10">
                  <span>{{item.price|floatformat:0|intcomma}} UZS</span>
                </div>
              </div>
              <div class="product__add-cart-s text-center">
                <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                  Add to Cart
                </button>
                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100"
                  data-bs-toggle="modal" data-bs-target="#productModal{{item.id}}">
                  Quick View
                </button>
              </div>
            </div>
          </div>
          <!-- shop modal start -->
          <div class="modal fade" id="productModal{{item.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered product__modal" role="document">
              <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                  <div class="product__modal-close p-absolute">
                    <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                  </div>
                  <div class="product__modal-inner">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product__modal-box">
                          <div class="tab-content" id="modalTabContent">
                            <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                              <div class="product__modal-img w-img">
                                <img src="{{item.imageURL}}" alt="" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product__modal-content">
                          <h4>
                            <a href="{% url 'shop-detail' item.id %}"><p>{{item.name}}</p></a>
                          </h4>
                          
                          <div class="product__review d-sm-flex">
                            
                            <div class="rating rating__shop mb-10 mr-30">
                              <center>
                                <img style="width: 50%;" src="https://telegra.ph/file/c6afe8ef4cb87d386a529.png" alt="">
                              </center>
                            </div>
                          </div>
                          <div class="product__price">
                            {% load humanize %}
                            <span>Narxi: {{item.price|floatformat:0|intcomma}} UZS</span>
                          </div>
                          <div class="product__modal-des mt-20 mb-15">
                            <p>
                              {{item.description|linebreaks}}
                            </p>
                          </div>
                          <div class="product__modal-form">
                            <form action="#">
                              <div class="pro-quan-area d-lg-flex align-items-center">
                                <div class="pro-cart-btn mb-25">
                                  <a href="{% url 'shop-detail' item.id %}" class="cart-btn" type="submit">
                                    Buyurtma berish
                                  </a>
                                  <a href="{% url 'add-cart' item.id%}" class="cart-btn" type="submit">
                                    Savatchaga+
                                  </a>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- shop modal end -->
          {% endfor %}
        </div>
      </div>
    </div>
  </div>