{% load static %}
<!-- cart-area-start -->
<section class="cart-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Rasmlari</th>
                                    <th class="cart-product-name">Mahsulot</th>
                                    <th class="product-price">Narxi</th>
                                    <th class="product-quantity">Soni</th>
                                    {% comment %} <th class="product-subtotal">Total</th> {% endcomment %}
                                    <th class="product-remove">O'chirish</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td class="product-thumbnail"><a href="shop-details.html"><img
                                                src="{{item.imageURL}}" alt="{{item.name}}"></a></td>
                                    <td class="product-name"><a href="shop-details.html">{{item.name}}</a></td>
                                    <td class="product-price"><span class="amount">${{item.price}}</span></td>
                                    <td class="product-price">
                                        <div class="cart-plus-minus"><input type="text" value="1">
                                           
                                        </div>
                                    </td>
                                    <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                
                                <div class="coupon2">
                                    
                                    <button class="tp-btn-h1" name="update_cart" type="submit">Yangilash</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul class="mb-20">
                                    <li>Jami <span>{{sum}} UZS</span></li>
                                </ul>
                                <a class="tp-btn-h1" href="checkout.html">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- cart-area-end -->