<!-- faq-area-start -->
<div class="faq-area mt-70 mb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-faqs mb-40">
                    <div class="faq-title">
                        <h5>Buyurtma</h5>
                    </div>
                    <div class="faq-content mt-10">
                        <div class="accordion" id="accordionExample1">
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Qanday buyurtma berish kerak?
                                    </button>
                                 </h2>
                                 <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                    <p>Buyurtma berish uchun siz ro'yxatdan o'tishingiz, mahsulotni savatga qo'shishingiz va buyurtma berish uchun savatga o'tishingiz kerak. </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                       To'lov turlari?
                                    </button>
                                 </h2>
                                 <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                    <p>Naqt, click, payme.</p>
                                    </div>
                                 </div>
                              </div>
                              <!-- <div class="accordion-item">
                                 <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Vestibulum a lorem placerat, porttitor urna vel?
                                    </button>
                                 </h2>
                                 <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                    </div>
                                 </div>
                              </div> -->
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-faqs mb-40">
                    <div class="faq-title">
                        <h5>Yetkazib berish</h5>
                    </div>
                    <div class="faq-content mt-10">
                        <div class="accordion" id="accordionExample2">
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                    Yetkazib berish xizmati pulikmi?
                                    </button>
                                 </h2>
                                 <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                    <p>O'zbekiston bo'ylab yetkazib berish xizmati tekin. </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapseTwo">
                                        Qancha vaqtda yetkazib beriladi?
                                    </button>
                                 </h2>
                                 <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                    <p>24 soat ichida O'zbekiston bo'ylab yetkazamiz.</p>
                                    </div>
                                 </div>
                              </div>

                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq-area-end -->