{% load static %}
<!-- page-banner-area-start -->
 <div
 class="page-banner-area page-banner-height"
 data-background="{% static 'assets/img/banner/page-banner-3.jpg' %}"
>
 <div class="container">
   <div class="row">
     <div class="col-xl-12">
       <div class="page-banner-content text-center">
         <h4 class="breadcrumb-title">FAQs</h4>
         <div class="breadcrumb-two">
           <nav>
             <nav class="breadcrumb-trail breadcrumbs">
               <ul class="breadcrumb-menu">
                 <li class="breadcrumb-trail">
                   <a href="{% url 'home' %}"><span>Home</span></a>
                 </li>
                 <li class="trail-item">
                   <span>FAQs</span>
                 </li>
               </ul>
             </nav>
           </nav>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
<!-- page-banner-area-end -->
