{% load static %}
<!-- cta-area-start -->
<section class="cta-area d-ldark-bg pt-55 pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="cta-item cta-item-d mb-30">
            <h5 class="cta-title">Bizni kuzating</h5>
            <p>
              Bizni ijtimoiy tarmoqlarimizga obuna bo'ling, biz sizni
              kutamiz!.
            </p>
            <div class="cta-social">
              <div class="social-icon">
                <a href="https://facebook.com/alsafia_uz" class="facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="https://t.me/alsafiauz" class="twitter"
                      ><i class="fab fa-telegram"></i
                ></a>
                <a href="#" class="youtube"
                  ><i class="fab fa-youtube"></i
                ></a>
                <a href="#" class="linkedin"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <a href="#" class="rss"><i class="fas fa-rss"></i></a>
                <a href="#" class="dribbble"
                  ><i class="fab fa-dribbble"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="cta-item mb-30">
            <h5 class="cta-title">Ilovani yuklab oling</h5>
            <p>
              ALSAFIA do'konimiz ilovasi endi App Store va Google Play-da
              mavjud..
            </p>
            <div class="cta-apps">
              <div class="apps-store">
                <a href="#"
                  ><img src="{% static 'assets/img/brand/app_ios.png' %}" alt=""
                /></a>
                <a href="#"
                  ><img src="{% static 'assets/img/brand/app_android.png' %}" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- cta-area-end -->