{% load static %}
<!-- footer-start -->
<footer>
    <div class="fotter-area d-dark-bg">
      <div class="footer__top pt-80 pb-15">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-4 order-last-md">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  <div class="footer__widget">
                    <div class="footer__widget-title">
                      <h4>Mijozlarga xizmat</h4>
                    </div>
                    <div class="footer__widget-content">
                      <div class="footer__link">
                        <ul>
                          <li><a href="faq.html">Yangi mijozlar</a></li>
                          <li><a href="faq.html">Hisob qaydnomasi</a></li>
                          <li><a href="faq.html">Buyurtma berish</a></li>
                          <li><a href="faq.html">To'lov usullari</a></li>
                          <li>
                            <a href="faq.html"
                              >Yetkazib berish &amp; Jo'natish</a
                            >
                          </li>
                          <li>
                            <a href="faq.html"
                              >Buyurtma bilan bog'liq muammolar</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  <div class="footer__widget">
                    <div class="footer__widget-title">
                      <h4>Mijozlarga xizmat ko'rsatish</h4>
                    </div>
                    <div class="footer__widget-content">
                      <div class="footer__link">
                        <ul>
                          <li><a href="faq.html"> Yordam markazi</a></li>
                          <li><a href="faq.html">Biz bilan bog'lanish</a></li>
                          <li>
                            <a href="faq.html">
                              Xatolik haqida xabar berish</a
                            >
                          </li>
                          <li><a href="faq.html">Eʼtiroz bildirish</a></li>
                          <li>
                            <a href="faq.html">Siyosat &amp; Qoidalar</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-7 col-lg-8 order-first-md">
              <div class="footer__top-left">
                <div class="row">
                  <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__widget">
                          <div class="footer__widget-title">
                            <h4>Mening hisobim</h4>
                          </div>
                          <div class="footer__widget-content">
                            <div class="footer__link">
                              <ul>
                                <li>
                                  <a href="faq.html"
                                    >Mahsulotni qo'llab-quvvatlash</a
                                  >
                                </li>
                                <li>
                                  <a href="checkout.html"
                                    >Ro'yxatdan o'chirilish</a
                                  >
                                </li>
                                <li><a href="cart.html">Xarid savati</a></li>
                                <li>
                                  <a href="wishlist.html"
                                    >Istaklar roʻyxati</a
                                  >
                                </li>
                                <li>
                                  <a href="faq.html">Shartlar </a>
                                </li>
                                <li>
                                  <a href="faq.html"
                                    >Voucherdan foydalaning</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__widget">
                          <div class="footer__widget-title">
                            <h4>Tez havolalar</h4>
                          </div>
                          <div class="footer__widget-content">
                            <div class="footer__link">
                              <ul>
                                <li>
                                  <a href="contact.html">
                                    Do'kon joylashuvi</a
                                  >
                                </li>
                                <li>
                                  <a href="my-account.html"
                                    >Mening hisobim
                                  </a>
                                </li>
                                <li>
                                  <a href="contact.html"
                                    >Buyurtmani kuzatish
                                  </a>
                                </li>
                                <li><a href="faq.html">FAQs</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                    <div class="footer__widget">
                      <div class="footer__widget-title mb-20">
                        <h4>Do'kon haqida</h4>
                      </div>
                      <div class="footer__widget-content">
                        <p class="footer-text mb-35">
                          Bizning maqsadimiz mijozlarga sifatli va tez xizmat
                          ko'rsatish. Alsafia do'konimiz shiyori "Mijozlarga
                          BAXT yetkazish"
                        </p>
                        <div
                          class="footer__hotline d-flex align-items-center mb-10"
                        >
                          <div class="icon mr-15">
                            <i class="fal fa-headset"></i>
                          </div>
                          <div class="text">
                            <h4>
                              Savolingiz bormi? Bizga 24/7 qo'ng'iroq qiling!
                            </h4>
                            <span
                              ><a href="tel:998-555-000-205"
                                >(+998) 555 000 205</a
                              ></span
                            >
                          </div>
                        </div>
                        <div class="footer__info">
                          <ul>
                            <li>
                              <span
                                >Adres:
                                <a
                                  target="_blank"
                                  href="https://goo.gl/maps/c82DDZ8ALvL878Bv8"
                                  >Uzbekiston, Toshkent, Sergeli 5 mavzesi
                                </a></span
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="footer__bottom-content pt-55 pb-45">
            <div class="row">
              <div class="col-xl-12">
                <div class="payment-image text-center mb-25">
                  <a href="contact.html"
                    ><img src="{% static 'assets/img/payment/payment.png' %}" alt=""
                  /></a>
                </div>
                <div class="copy-right-area text-center">
                  <p>
                    Copyright © <span>ALSAFIA.</span> All Rights Reserved.
                    Powered by
                    <a href="#"><span class="main-color">Webschool.</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-end -->