{% load static %}

    <!-- footer-start -->
   <!-- footer-start -->
   <footer>
    <div class="fotter-area d-ddark-bg">
      <div class="footer__top pt-60 pb-10">
        <div class="container custom-conatiner">
          <div class="row">
            <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-8">
              <div class="footer__widget">
                <div class="footer__widget-title mb-20">
                  <h4>Bizni kuzating</h4>
                </div>
                <div class="footer__widget-content">
                  <div class="social-icon social-icon-2">
                    <a href="#" class="facebook"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a href="#" class="twitter"
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a href="#" class="youtube"
                      ><i class="fab fa-youtube"></i
                    ></a>
                    <a href="#" class="linkedin"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <a href="#" class="rss"><i class="fas fa-rss"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="footer__widget footer-col-2">
                <div class="footer__widget-title">
                  <h4>Mening Hisobim</h4>
                </div>
                <div class="footer__widget-content">
                  <div class="footer__link footer__link-2">
                    <ul>
                      <li><a href="{% url "contact-us" %}">Qo'llab-quvvatlash</a></li>
                      <li><a href="{% url "wishlist" %}">Xarid savati</a></li>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="footer__widget footer-col-2">
                <div class="footer__widget-title">
                  <h4>Mijozlarga Xizmat</h4>
                </div>
                <div class="footer__widget-content">
                  <div class="footer__link footer__link-2">
                    <ul>
                      <li><a href="#">Hisob qaydnomasi</a></li>
                      <li><a href="{% url 'order' %}">Buyurtma berish</a></li>
                      <li><a href="#">To'lov usullari</a></li>


                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="footer__widget footer-col-2">
                <div class="footer__widget-title">
                  <h4>Tez Havolalar</h4>
                </div>
                <div class="footer__widget-content">
                  <div class="footer__link footer__link-2">
                    <ul>
                      <li><a href="#">Do'kon joylashuvi</a></li>
                      <li><a href="#">Mening hisobim</a></li>
                      <li><a href="#">Buyurtmani kuzatish</a></li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6">
              <div class="footer__hotline d-flex align-items-center mb-10">
                <div class="icon mr-15">
                  <i class="fal fa-headset"></i>
                </div>
                <div class="text">
                  <h4>Savolingiz bormi? Bizga 24/7 qo'ng'iroq qiling!</h4>
                  <span
                    ><a href="tel:998-555-000-205"
                      >(+998) 555 000 205</a
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom-2">
        <div class="container custom-conatiner">
          <div
            class="footer__bottom-content footer__bottom-content-2 pt-50 pb-50"
          >
            <div class="row">
              <div class="col-xl-12">
                <!-- <div class="footer__links footer__links-d text-center mb-25">
                  <p>
                    <a href="about.html">About Us</a>
                    <a href="contact.html">Delivery & Return</a>
                    <a href="faq.html">Privacy Policy</a>
                    <a href="faq.html">Help</a>
                    <a href="contact.html">Order Tracking</a>
                    <a href="contact.html">Contact Us</a>
                    <a href="faq.html">FAQs </a>
                  </p>
                </div> -->
                <div class="payment-image text-center mb-25">
                  <a href=""
                    ><img src="{% static "assets/img/payment/payment.png" %}" alt=""
                  /></a>
                </div>
                <div class="copy-right-area copy-right-area-2 text-center">
                  <p>
                    Copyright © <span>ALSAFIA.UZ</span> All Rights Reserved.
                    Powered by
                    <a href=""
                      ><span class="main-color">WEBSCHOOL.</span></a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-end -->
    <!-- footer-end -->