{% load static %}
<!-- header-start -->
<header class="header d-blue-bg">
  <div class="header-top">
    <div class="container">
      <div class="header-inner">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-7">
            <div class="header-inner-start">
              <div class="header__currency border-right">
                <div class="s-name">
                  <span>Til: </span>
                </div>
                <select>
                  <option>O'zbek tili</option>
                </select>
              </div>
              <div class="header__lang border-right">
                <div class="s-name">
                  <span>To'lovlar: </span>
                </div>
                <select>
                  <option>UZS</option>
                </select>
              </div>
              <div class="support d-none d-sm-block">
                <p>Yordam? <a href="tel:+998990770849">+998 99 077 08 49</a></p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 d-none d-lg-block">
            <div class="header-inner-end text-md-end">
              <div class="ovic-menu-wrapper">
                <ul>
                  <li><a href="{% url 'about-us' %}">Biz haqimizda</a></li>
                  <li><a href="{% url 'contact-us' %}">Bog'lanish</a></li>
                  <li><a href="{% url 'faq' %}">Savollar</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-mid">
    <div class="container">
      <div class="heade-mid-inner">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
            <div class="header__info">
              <div class="logo">
                <a href="{% url 'home' %}" class="logo-image"
                  ><img src="{% static 'assets/img/logo/logo.png' %}" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-4 d-none d-lg-block">
            <div class="header__search">
              <form action="#">
                <div class="header__search-box">
                  <input
                    class="search-input"
                    type="text"
                    placeholder="Qidiring..."
                  />
                  <button class="button" type="submit">
                    <i class="far fa-search"></i>
                  </button>
                </div>
                <div class="header__search-cat">
                  <select>
                    <option>Kategoriyalar</option>
                    {% for item in categories %}
                    <option>{{item}}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
            <div class="header-action">
              <div class="block-userlink">
                {% if user.is_authenticated %}
                  <a class="icon-link" href="{% url 'logout' %}">
                    <i class="flaticon-user"></i>
                    <span class="text">
                      <span class="sub">Chiqish</span>
                      {{user.first_name}}
                    </span>
                  </a>
                {% else %}
                  <a class="icon-link" href="{% url 'my-account' %}">
                    <i class="flaticon-user"></i>
                    <span class="text">
                      <span class="sub">Kirish </span>
                      Mening profilim
                    </span>
                  </a>
                {% endif %}
              </div>
              <div class="block-wishlist action">
                <a class="icon-link" href="{% url 'wishlist' %}">
                  <i class="flaticon-heart"></i>
                  <span class="count">{{order_history}}</span>
                  <span class="text">
                    <span class="sub">Buyurtmalar</span>
                    Tarixi
                  </span>
                </a>
              </div>
              <div class="block-cart action">
                <a class="icon-link" href="{% url 'cart' %}">
                  <i class="flaticon-shopping-bag"></i>
                  <span class="count">{{cartProductsCount}}</span>
                  <span class="text">
                    <span class="sub">Savatcham:</span>
                    {% if cartProductsCount == 0 %}
                      0.0 UZS
                    {% else %}
                    {% load humanize %}
                    {{sum|floatformat:0|intcomma}} UZS
                    {% endif %}
                  </span>
                </a>
                <div class="cart">
                  <div class="cart__mini">
                    <ul>
                      <li>
                        <div class="cart__title">
                          <h4>Savatchada</h4>
                          <span>({{cartProductsCount}} dona mahsulot bor)</span>
                        </div>
                      </li>
                      <li>
                        {% if cartProductsCount != 0 %}
                        {% for item in cardItems %}
                        <div
                          class="cart__item d-flex justify-content-between align-items-center"
                        >
                          <div class="cart__inner d-flex">
                            <div class="cart__thumb">
                              <a href="product-details.html">
                                <img
                                  src="{{item.imageURL}}"
                                  alt=""
                                />
                              </a>
                            </div>
                            <div class="cart__details">
                              <h6>
                                <a href="product-details.html">
                                 {{item.name}}
                                </a>
                              </h6>
                              <div class="cart__price">
                                {% load humanize %}
                                <span>Narxi: {{item.price|floatformat:0|intcomma}} UZS</span>
                              </div>
                            </div>
                          </div>
                          <div class="cart__del">
                            <a href="#"><i class="fal fa-times"></i></a>
                          </div>
                        </div>
                        {% endfor %}
                        <li>
                          <div
                            class="cart__sub d-flex justify-content-between align-items-center"
                          >
                            <h6>Jami narx</h6>
                            <span class="cart__sub-total">{{sum|floatformat:0|intcomma}} UZS</span>
                          </div>
                        </li>
                        <li>
                          <a href="{% url 'cart' %}" class="wc-cart mb-10">Ko'rish</a>
                          <form action="{% url 'order' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="tp-btn-h1 wc-cart mb-10">Buyurtma berish</button>
                          </form>

                        </li>
                        {% else %}
                        <li>
                          <center>
                           <p>Savatchangiz bo'sh</p>
                          </center>
                         </li>
                        {% endif %}
                      </li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="row g-0 align-items-center">
        <div class="col-lg-3">
          <div class="cat__menu-wrapper side-border d-none d-lg-block">
            <div class="cat-toggle">
              <button type="button" class="cat-toggle-btn cat-toggle-btn-1">
                <i class="fal fa-bars"></i>Kategoriya bo'yicha
              </button>
              <div class="cat__menu">
                <nav id="mobile-menu" style="display: block">
                  <ul>
                    <li>
                      <a href="{% url 'category' 0 %}">All Categories</a>
                    </li>
                    {% for item in categories %}
                    <li>
                      <a href="{% url 'category' item.id %}">{{item.name}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-3">
          <div class="header__bottom-left d-flex d-xl-block align-items-center">
            <div class="side-menu d-lg-none mr-20">
              <button type="button" class="side-menu-btn offcanvas-toggle-btn">
                <i class="fas fa-bars"></i>
              </button>
            </div>
            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul>
                  <li>
                    <a href="{% url 'about-us' %}">Biz haqimizda</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-9">
          <div class="shopeing-text text-sm-end">
            <p>Yetkazib berish tekin!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header-end -->
