<!-- about-area-start -->
{% load static %}

<div
class="about-area pt-80 pb-80"
data-background="assets/img/bg/about-bg.png"
>
<div class="container">
  <div class="row align-items-center">
    <div class="col-xl-6 col-lg-6">
      <div class="about-content">
        <span>ONLAYN DO'KONIMIZ HAQIDA</span>
        <h4>Salom,</h4>
        <h5 class="banner-t mb-30">4+ yillik tajribaga ega</h5>

        <p>
            Alsafia.uz – mijozlarga qulaylik yaratish maqsadida o‘zining logistika tizimini o‘z ichiga olgan onlayn-do‘kon. Saytimizda mavjud mahsulotlar assortimenti kundan-kunga ortib bormoqda. Biz sotuvchilarga narxlarni o'zlari tartibga solish imkoniyatini beramiz, bu esa o'z toifalarida narx bo'yicha raqobatlashish imkoniyatini beradi. Shuningdek, bizning saytimiz yetkazib beriladigan mahsulotlar sifatiga kafolat beradi va nuqsonlar bo'lsa, mahsulotingizni o'zgartiramiz. Va har safar xaridor kerakli mahsulotni topib, "Sotib olish" tugmasini bosganida biz to'g'ri ish qilayotganimizni tushunamiz.
        </p>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="about-image w-img">
        <img src='{% static 'assets/img/about/about-b.png' %}' alt="" />
      </div>
    </div>
  </div>
</div>
</div>
<!-- about-area-end -->