{% load static  %}
     <!-- page-banner-area-start -->
     <div class="page-banner-area page-banner-height" data-background="{% static 'assets/img/banner/page-banner-1.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Biz haqimizda</h3>
                        <p>O'zbekiston bo'yicha eng yetakchi online magazin</p>
                        <div class="page-bottom-btn mt-55">
                            <a href="" class="st-btn-4">Biz bilan bo'ling</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>