 <!-- services-area-start -->
 <div class="services-area pt-70 light-bg-s pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="abs-section-title text-center">
                    <span>HOW IT WORKS</span>
                    <h4>Complete Customer Ideas</h4>
                    <p>The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit <br> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                </div>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-item mb-30">
                    <div class="services-icon mb-25">
                        <i class="fal fa-share-square"></i>
                    </div>
                    <h6>Admin Verify Details</h6>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium totam rem aperiam, eaqueipsa quae veritatis.</p>
                    <div class="s-count-number">
                        <span>01</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-item mb-30">
                    <div class="services-icon mb-25">
                        <i class="fal fa-file"></i>
                    </div>
                    <h6>Send The Solution</h6>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium totam rem aperiam, eaqueipsa quae veritatis.</p>
                    <div class="s-count-number">
                        <span>02</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-item mb-30">
                    <div class="services-icon mb-25">
                        <i class="fal fa-thumbs-up"></i>
                    </div>
                    <h6>Complete Profile</h6>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium totam rem aperiam, eaqueipsa quae veritatis.</p>
                    <div class="s-count-number">
                        <span>03</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- services-area-end -->