 {% load static %}
 <!-- team-area-start -->
 <div class="team-area light-bg-s pt-70 pb-40">
    <div class="container">
        <div class="row mb-35">
            <div class="col-xl-12">
                <div class="abs-section-title text-center">
                    <span>THE TEAM</span>
                    <h4>Meet Our Team</h4>
                    <p>The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit <br> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team text-center mb-30">
                    <div class="team-image mb-35 w-img">
                        <div class="inner-timg">
                            <a href="about.html">
                                <img src="{% static 'assets/img/team/person-3.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="tauthor-degination mb-15">
                        <h5><a href="about.html">Iqbal Hossain</a></h5>
                        <span>CEO & Pounder</span>
                    </div>
                    <div class="team-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team text-center mb-30">
                    <div class="team-image mb-35 w-img">
                        <div class="inner-timg">
                            <a href="about.html">
                                <img src="{% static 'assets/img/team/person-4.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="tauthor-degination mb-15">
                        <h5><a href="about.html">Robin Gomes</a></h5>
                        <span>CEO & Pounder</span>
                    </div>
                    <div class="team-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team text-center mb-30">
                    <div class="team-image mb-35 w-img">
                        <div class="inner-timg">
                            <a href="about.html">
                                <img src="{% static 'assets/img/team/person-5.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="tauthor-degination mb-15">
                        <h5><a href="about.html">Merry Bob</a></h5>
                        <span>CEO & Pounder</span>
                    </div>
                    <div class="team-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team-area-end -->