 {% load static %}
 <!-- technolgy-index-start -->
 <div class="technolgy-index mt-70 mb-10">
    <div class="container">
        <div class="row mb-15">
            <div class="col-xl-12">
                <div class="abs-section-title text-center">
                    <span>TECHNOLOGY INDEX</span>
                    <h4>Let’s Get Creative</h4>
                    <p>The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit <br> in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="main-abs mb-30">
                    <div class="ab-counter-image w-img mb-40">
                        <img src="{% static 'assets/img/about/ab-01.jpg' %}" alt="">
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="ab-counter-item mb-30">
                                <div class="ab-counter mb-20">
                                    <div class="counter-icon mr-10">
                                        <img src="{% static 'assets/img/about/c-icon-01.png' %}" alt="">
                                    </div>
                                    <div class="counter_info">
                                        <span class="counter">8262</span>
                                       <p>+</p>
                                   </div>
                                </div>
                                <h5>Active Clients</h5>
                                <p>Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque laudantium totam.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="ab-counter-item mb-30">
                                <div class="ab-counter mb-20">
                                    <div class="counter-icon mr-10">
                                        <img src="{% static 'assets/img/about/c-icon-01.png' %}" alt="">
                                    </div>
                                    <div class="counter_info">
                                        <span class="counter">4268</span>
                                       <p>+</p>
                                   </div>
                                </div>
                                <h5>Projects Done</h5>
                                <p>Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque laudantium totam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="main-abs mb-30">
                    <div class="ab-counter-image w-img mb-40">
                        <img src="{% static 'assets/img/about/ab-02.jpg' %}" alt="">
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="ab-counter-item mb-30">
                                <div class="ab-counter mb-20">
                                    <div class="counter-icon mr-10">
                                        <img src="{% static 'assets/img/about/c-icon-01.png' %}" alt="">
                                    </div>
                                    <div class="counter_info">
                                        <span class="counter">643</span>
                                       <p>+</p>
                                   </div>
                                </div>
                                <h5>Team Advisors</h5>
                                <p>Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque laudantium totam.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="ab-counter-item mb-30">
                                <div class="ab-counter mb-20">
                                    <div class="counter-icon mr-10">
                                        <img src="{% static 'assets/img/about/c-icon-01.png' %}" alt="">
                                    </div>
                                    <div class="counter_info">
                                        <span class="counter">269</span>
                                       <p>k</p>
                                   </div>
                                </div>
                                <h5>Users Online</h5>
                                <p>Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque laudantium totam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- technolgy-index-end -->