<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buyurtmangiz qabul qilindi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/app/2-0/vendor/swiper/swiper-bundle.min.css">
    <!-- Modal Video-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/app/2-0/vendor/modal-video/css/modal-video.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,800&amp;display=swap">
    <!-- Device Mockup-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/app/2-0/css/device-mockups.010c4b03.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/app/2-0/css/style.default.bc008ef3.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/app/2-0/css/custom.0a822280.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="https://telegra.ph/file/dd253aaf62b9a9a36343f.jpg">
  </head>
  <body>

    <section class="bg-center py-0" id="about" style="background: url(https://d19m59y37dris4.cloudfront.net/app/2-0/img/service-bg.d0e67e81.svg) no-repeat; background-size: cover">
      <section class="about py-0">
        <div class="container">
          <div class="row pb-5 gy-4">
            <center>
              <div class="col-lg-4 col-md-6">
                <!-- Services Item-->
                <a href="{% url 'home' %}">
                <div class="card border-0 shadow rounded-lg py-4 text-start">
                  <div class="card-body p-5">
                    <center>
                      <img style="width: 60%; " src="https://telegra.ph/file/dd253aaf62b9a9a36343f.jpg
                    " alt="">
                    <h3 style="color: white;" class="h4 my-4">Buyurtmalaringiz </h3>
                  </center>
                    <p style="color: white;" class="text-sm  mb-0">Notebook</p>
                  </div>
                </div>
              </a>
              </div>
          </center>
          </div>
          <center>
            <h2 class="mb-5">Buyurtmangiz qabul qilindi, siz bilan tez orada operatorlarimiz bog'lanadi✅</h2>
            <a href='{% url 'home' %}' class="btn btn-warning">Bosh sahifa</a>
          </center>
        </div>
      </section>

    </section>  
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>