{% extends 'app/main.html' %}

{% load static %}

{% block content %}

{% include 'sections/index/offcanvas.html'%}
<main>
    
    {% include 'sections/index/slider-area-start.html'%}
    {% include 'sections/index/feature-area-start.html'%}
    {% include 'sections/index/banner-area-start.html'%}
    <center>
        {% include 'sections/index/topsell-area-start.html' %}
        {% include 'sections/category/shop-modal-start.html' %}
        {% include 'sections/index/featured-start.html'%}
        {% include 'sections/index/all.html'%}
    </center>
    {% include 'sections/index/moveing.html' %}
    {% include 'sections/index/banner-area-start-2.html'%}
    {% include 'sections/index/recomand-product-area.html'%}
    {% include 'sections/index/brand-area-start.html'%}
    {% include 'sections/index/shop-modal-start.html'%}
    
</main>
{% endblock %}

