{% extends 'app/main.html' %}

{% load static %}

{% block content %}

{% include 'sections/index/offcanvas.html'%}
<main>
    
   {% include 'sections/shop-detail/breadcrumb-area-start.html' %}
   {% include 'sections/shop-detail/product-details-start.html' %}
    

    <!-- product-details-des-start -->
    <div class="product-details-des mt-40 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="product__details-des-tab">
                        <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="des-tab" data-bs-toggle="tab" data-bs-target="#des" type="button" role="tab" aria-controls="des" aria-selected="true">Description </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="aditional-tab" data-bs-toggle="tab" data-bs-target="#aditional" type="button" role="tab" aria-controls="aditional" aria-selected="false">Additional information</button>
                              </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">Reviews (1) </button>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="prodductDesTaContent">
                <div class="tab-pane fade active show" id="des" role="tabpanel" aria-labelledby="des-tab">
                    <div class="product__details-des-wrapper">
                        <p class="des-text mb-35">Designed by Hans J. Wegner in 1949 as one of the first models created especially for Carl Hansen & Son, and produced since 1950. The last of a series of chairs wegner designed based on inspiration from antique Chinese armchairs. The gently rounded top together with the back and seat offers a variety of comfortable seating positions,ideal for both long visits to the dining table and relaxed lounging.</p>
                        <h6 class="des-sm-title">The standard passage, used since the 1500s.</h6>
                        <p class="des-text mb-35">A light chair, easy to move around the dining table and about the room. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="features-des-image text-center">
                            <img src="{{item.image2.url}}" alt="">
                        </div>
                        <div class="product-des-section mb-90">
                            <h5 class="des-section mb-30">Get 30% Daily Cash
                              <br>  Back with Membership Card.</h5>
                              <p>A new collection of lounge furniture, occasional tables and a stool by Edward Barber & Jay Osgerby offers a relaxed, contemporary attitude toward interior design. The lounge furniture includes four individualized sized sofas, and three complementary ottomans. Available in a range of upholstery fabrics and leathers, the lounge furniture is distinguished by stitched seams that reinforce its architectural profile, softened by the curvature of cushions on each face range of upholstery fabrics and leathers.</p>
                        </div>
                        <div class="row mb-80">
                            <div class="col-xl-6">
                                <div class="des-single mb-30 text-center">
                                    <div class="features-des-image text-center">
                                        <img src="{{item.image5.url}}" alt="">
                                    </div>
                                    <h5 class="des-section">Get 30% Daily Cash
                                        <br>  Back with Membership Card.</h5>
                                    <p>Sit amet conse ctetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore  magna aliqua.</p>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="des-single text-center mb-30">
                                    <div class="features-des-image">
                                        <img src="{{item.image3.url}}" alt="">
                                    </div>
                                    <h5 class="des-section text-center">Get 70% Daily Cash
                                        <br>  Back with Membership Card.</h5>
                                    <p>Sit amet conse ctetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore  magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                        <div class="features-des-image features-des-image-2 text-center mb-50 w-img">
                            <img src="{{item.image4.url}}" alt="">
                        </div>
                        <div class="des-sm-features">
                            <div class="des-sm-fet text-center mb-30">
                                <img src="{% static 'assets/img/features-product/product-content-5.png' %}" alt="">
                                <span>Ultra Wide Angle</span>
                            </div>
                            <div class="des-sm-fet text-center mb-30">
                                <img src="{% static 'assets/img/features-product/product-content-6.png' %}" alt="">
                                <span>Live Focus On</span>
                            </div>
                        </div>
                        <p class="des-text mb-35">Designed by Puik in 1949 as one of the first models created especially for Carl Hansen & Son, and produced since 1950. The last of a series of chairs wegner designed based on inspiration from antique Chinese armchairs. The gently rounded top together with the back and seat offers a variety of comfortable seating positions,ideal for both long visits to the dining table and relaxed lounging. A light chair easy to move around the dining table and about the room. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                        <h6 class="des-sm-title">Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC.</h6>
                        <p class="des-text mb-25">Sound of Marshall, unplugs the chords, and takes the show on the road. Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering. Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended highs for a sound that is both articulate and pronounced. The analogue knobs allow you to fine tune the controls to your personal preferences while the guitar-influenced leather strap enables easy and stylish travel.</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="aditional" role="tabpanel" aria-labelledby="aditional-tab">
                    <div class="product__desc-info">
                        <ul>
                           <li>
                              <h6>Weight</h6>
                              <span>2 lbs</span>
                           </li>
                           <li>
                              <h6>Dimensions</h6>
                              <span>12 × 16 × 19 in</span>
                           </li>
                           <li>
                              <h6>Product</h6>
                              <span>Purchase this product on rag-bone.com</span>
                           </li>
                           <li>
                              <h6>Color</h6>
                              <span>Gray, Black</span>
                           </li>
                           <li>
                              <h6>Size</h6>
                              <span>S, M, L, XL</span>
                           </li>
                           <li>
                              <h6>Model</h6>
                              <span>Model	</span>
                           </li>
                           <li>
                              <h6>Shipping</h6>
                              <span>Standard shipping: $5,95</span>
                           </li>
                           <li>
                              <h6>Care Info</h6>
                              <span>Machine Wash up to 40ºC/86ºF Gentle Cycle</span>
                           </li>
                           <li>
                              <h6>Brand</h6>
                              <span>Kazen</span>
                           </li>
                        </ul>
                     </div>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                    <div class="product__details-review">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="review-rate">
                                    <h5>5.00</h5>
                                    <div class="review-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                    </div>
                                    <span class="review-count">01 Review</span>
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <div class="review-des-infod">
                                    <h6>1 review for "<span>Wireless Bluetooth Over-Ear Headphones</span>"</h6>
                                    <div class="review-details-des">
                                        <div class="author-image mr-15">
                                            <a href="#"><img src="{% static 'assets/img/author/author-sm-1.jpeg' %}" alt=""></a>
                                        </div>
                                        <div class="review-details-content">
                                            <div class="str-info">
                                                <div class="review-star mr-15">
                                                    <a href="#"><i class="fas fa-star"></i></a>
                                                    <a href="#"><i class="fas fa-star"></i></a>
                                                    <a href="#"><i class="fas fa-star"></i></a>
                                                    <a href="#"><i class="fas fa-star"></i></a>
                                                    <a href="#"><i class="fas fa-star"></i></a>
                                                </div>
                                                <div class="add-review-option">
                                                    <a href="#">Add Review</a>
                                                </div>
                                            </div>
                                            <div class="name-date mb-30">
                                                <h6> admin – <span> May 27, 2021</span></h6>
                                            </div>
                                            <p>A light chair, easy to move around the dining table and about the room. Duis aute irure dolor in reprehenderit in <br> voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="product__details-comment ">
                                    <div class="comment-title mb-20">
                                       <h3>Add a review</h3>
                                       <p>Your email address will not be published. Required fields are marked *</p>
                                    </div>
                                    <div class="comment-rating mb-20">
                                       <span>Overall ratings</span>
                                       <ul>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                       </ul>
                                    </div>
                                    <div class="comment-input-box">
                                       <form action="#">
                                          <div class="row">
                                            <div class="col-xxl-6 col-xl-6">
                                                <div class="comment-input">
                                                   <input type="text" placeholder="Your Name">
                                                </div>
                                             </div>
                                             <div class="col-xxl-6 col-xl-6">
                                                <div class="comment-input">
                                                   <input type="email" placeholder="Your Email">
                                                </div>
                                             </div>
                                             <div class="col-xxl-12">
                                                   <textarea placeholder="Your review" class="comment-input comment-textarea"></textarea>
                                             </div>
                                             <div class="col-xxl-12">
                                                <div class="comment-agree d-flex align-items-center mb-25">
                                                   <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                      <label class="form-check-label" for="flexCheckDefault">
                                                       Save my name, email, and website in this browser for the next time I comment.
                                                      </label>
                                                    </div>
                                                </div>
                                             </div>
                                             <div class="col-xxl-12">
                                                <div class="comment-submit">
                                                   <button type="submit" class="cart-btn">Submit</button>
                                                </div>
                                             </div>
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product-details-des-end -->

    <!-- shop modal start -->
    <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product__modal-box">
                                <div class="tab-content" id="modalTabContent">
                                    <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                        <div class="product__modal-img w-img">
                                            <img src="{% static 'assets/img/quick-view/quick-view-1.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">
                                        <div class="product__modal-img w-img">
                                            <img src="{% static 'assets/img/quick-view/quick-view-2.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
                                        <div class="product__modal-img w-img">
                                            <img src="{% static 'assets/img/quick-view/quick-view-3.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav4" role="tabpanel" aria-labelledby="nav4-tab">
                                        <div class="product__modal-img w-img">
                                            <img src="{% static 'assets/img/quick-view/quick-view-4.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    </div>
                                <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="true">
                                            <img src="{% static 'assets/img/quick-view/quick-nav-1.jpg' %}" alt="">
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="nav2-tab" data-bs-toggle="tab" data-bs-target="#nav2" type="button" role="tab" aria-controls="nav2" aria-selected="false">
                                        <img src="{% static 'assets/img/quick-view/quick-nav-2.jpg' %}" alt="">
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="nav3-tab" data-bs-toggle="tab" data-bs-target="#nav3" type="button" role="tab" aria-controls="nav3" aria-selected="false">
                                        <img src="{% static 'assets/img/quick-view/quick-nav-3.jpg' %}" alt="">
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="nav4-tab" data-bs-toggle="tab" data-bs-target="#nav4" type="button" role="tab" aria-controls="nav4" aria-selected="false">
                                        <img src="{% static 'assets/img/quick-view/quick-nav-4.jpg' %}" alt="">
                                        </button>
                                    </li>
                                    </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product__modal-content">
                                <h4><a href="product-details.html">Samsung C49J89: £875, Debenhams Plus</a></h4>
                                <div class="product__review d-sm-flex">
                                    <div class="rating rating__shop mb-10 mr-30">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    </ul>
                                    </div>
                                    <div class="product__add-review mb-15">
                                    <span>01 review</span>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span>$109.00 – $307.00</span>
                                </div>
                                <div class="product__modal-des mt-20 mb-15">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-circle"></i> Bass and Stereo Sound.</a></li>
                                        <li><a href="#"><i class="fas fa-circle"></i> Display with 3088 x 1440 pixels resolution.</a></li>
                                        <li><a href="#"><i class="fas fa-circle"></i> Memory, Storage & SIM: 12GB RAM, 256GB.</a></li>
                                        <li><a href="#"><i class="fas fa-circle"></i> Androi v10.0 Operating system.</a></li>
                                    </ul>
                                </div>
                                <div class="product__stock mb-20">
                                    <span class="mr-10">Availability :</span>
                                    <span>1795 in stock</span>
                                </div>
                                <div class="product__modal-form">
                                    <form action="#">
                                    <div class="pro-quan-area d-lg-flex align-items-center">
                                        <div class="product-quantity mr-20 mb-25">
                                            <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                        </div>
                                        <div class="pro-cart-btn mb-25">
                                            <button class="cart-btn" type="submit">Add to cart</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <div class="product__stock mb-30">
                                    <ul>
                                        <li><a href="#">
                                            <span class="sku mr-10">SKU:</span>
                                            <span>Samsung C49J89: £875, Debenhams Plus</span></a>
                                        </li>
                                        <li><a href="#">
                                            <span class="cat mr-10">Categories:</span>
                                            <span>iPhone, Tablets</span></a>
                                        </li>
                                        <li><a href="#">
                                            <span class="tag mr-10">Tags:</span>
                                            <span>Smartphone, Tablets</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop modal end -->
    
</main>
{% endblock %}

